@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("ttf"),
        url("../fonts/Roboto/Roboto-Regular.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: url("../fonts/Roboto/Roboto-Medium.ttf") format("ttf"),
        url("../fonts/Roboto/Roboto-Medium.woff") format("woff");
}