@import "./static/scss/fonts.scss";
@import "./static/scss/global.scss";

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #000000;
  background-color: #E5E5E5;
}